<div class="container mt-5">
    <p style="color:gold"></p>Welcome to my web store project. I am Adriana, a .NET developer from Romania. Main features I implemented on this project are:</p>
    <p>✔️ managing identity roles (admin and customer)</p>
    <p>✔️ register, login and logout</p>

    <p style="color:gold">CUSTOMER SIDE</p>
    <p>✔️ product display and filter search</p>
    <p>✔️ shopping cart</p>
    <p>✔️ order and orders history</p>

    <p style="color:gold">ADMIN SIDE</p>
    <p>✔️ inventory management</p>

    <p style="color:gold">TOOLS USED</p>
    <p>✔️ ASP.NET Core MVC 7, Entity Framework Core, NuGet Package Manager</p>
    <p>✔️ C#, HTML5, CSS (Bootstrap), JavaScript</p>
    <p>✔️ MySQL and SQL Server Management Studio for database</p>
</div>